@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Stack+Sans+Text:wght@200..700&display=swap');
@import "tailwindcss";
@plugin "daisyui";


body {
    font-family: 'Poppins', sans-serif;
  }